body {
    font-family: Arial, sans-serif;
    background-image: url("../images/pawBackground.jpg");
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

h1 {
    font-size: 40pt;
    font-weight: bold;
    line-height: 1.2em;
}

h2 {
    font-size: 18pt;
    font-weight: bold;
    line-height: 1.2em;
    padding: 10px;
}

b {
    font-weight: bold;
}

.pageContainer {
    background-color: whitesmoke;
    max-width: 960px;
    margin: 0 auto;
    padding: 10px;
    opacity: 90%;
}

.summary {
    background-color:  #bccad6;
    padding: 10px;
    border-radius: 9px;
}

.prompt {
    font-weight: bold;
}

.instructions{
    font-style: italic;
}

.taskContainer {
    display: flex;
    justify-content: space-between;
    background-color: #667292;
    padding: 10px;
    border-radius: 9px;
}

.message {
    font-weight: bold;
    margin: 0 auto;
    font-style: italic;
    background-color: whitesmoke;
    opacity: 90%;
    border-radius: 9px;
    padding: 5px;
    width: fit-content;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.message.fade-in {
  opacity: 1;
}

.message.fade-out {
  opacity: 0;
}

#dropSection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.populatedImages {
    max-width: 115px;
    height: auto;
    padding: 3px;
    border-radius: 7px;
    transition: transform 0.9s ease, box-shadow 0.2s ease;
}

.populatedImages:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

.zoneContainer {
    text-align: center;
    font-weight: bold;
    font-size: 14pt;
    border-radius: 10px;
    padding: 10px;
    background-color: #f4f4f4;
    margin-top: 10px;
    min-height: 30vh;
}

.dropzone {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: flex-start;
    border: 2px dashed #ccc;
    border-radius: 10px;
    padding: 20px;
    min-height: 30vh;
    min-width: 50vh;
    transition: background-color 0.4s ease-in-out;
}

@media (max-width: 835px) {
    .taskContainer {
        flex-direction: column;
    }

    .populatedImages {
        max-width: 90px;
    }
}